<div class="card hoverable">
    <a href="/color/natural/{{id}}">
    <div class="card-image">
        <img src="/images/{{natural.id.image}}">
        <span class="card-title">{{name}}</span>
    </div>
    <div class="card-content">
        <p>Price: {{price}}</p>
        <p>Description: {{description}}</p>
    </div>
    
    </a>
    
</div>