<div class="col s12 m6 l4">
    <div class="card hoverable">
        <a href="/{{id}}">
        <div class="card-image">
            <img src={{image}}>
            
        </div>
        <div class="card-content">
            <p>Title: {{name}}</p>
            <p>Price: {{price}}</p>
            {{!-- <p>Description: {{description}}</p> --}}
        </div>
    
        </a>
    
    </div>
</div>
