<div class="card hoverable">
    <a href="/material/wood/{{id}}">
    <div class="card-image">
        <img src="/images/{{wood.id.image}}">
        <span class="card-title">{{name}}</span>
    </div>
    <div class="card-content">
        <p>Price: {{price}}</p>
        <p>Description: {{description}}</p>
    </div>
    
    </a>
    
</div>