<div class="card hoverable">
    <a href="/{{id}}">
    <div class="card-image">
        <img src="/product/{{image}}">
        <span class="card-title">{{name}}</span>
    </div>
    <div class="card-content">
        <p>Price: {{price}}</p>
        <p>Description: {{description}}</p>
        <p>Category: {{category}}</p>
        <P>Brand: {{brand}}</P>
        <p>Material: {{material}}</p>
        <p>Color: {{color}}</p>
    </div>
    
    </a>
    
</div>