
    <div class="card hoverable" style="width:50%; margin:auto">
        
        <div class="card-image">
            <img src={{furniture.image}}>
            <span class="card-title">{{furniture.name}}</span>
        </div>
        <div class="card-content">
            <p>Price: {{furniture.price}}</p>
            <p>Description: {{furniture.description}}</p>
            <p>Category: {{furniture.category}}</p>
            <P>Brand: {{furniture.brand}}</P>
            <p>Material: {{furniture.material}}</p>
            <p>Color: {{furniture.color}}</p>
        </div>
    
       
    
    </div>

